.date-box {
    .react-datepicker {
        width: 100%;
        border-radius: 5px;

        .react-datepicker__navigation {
            margin-top: 10px;

            &:hover {
                background: $primary;
            }
        }

        .react-datepicker__month-container {
            width: 100%;

            .react-datepicker__header {
                background: $white;
            }

            .react-datepicker__day-name,
            .react-datepicker__day,
            .react-datepicker__time-name {
                width: calc(100% / 8);
            }

            .react-datepicker__day {
                line-height: 2rem;
            }

            @media (max-width: 728px) {
                .react-datepicker__day {
                    line-height: 2rem;
                }
            }

            .react-datepicker__day--selected {
                background-color: #30c983;
                font-weight: 600;
            }
        }

        .react-datepicker__day--keyboard-selected {
            background: #30c983;
            color: #fff;
            font-weight: 600;

            &:hover {
                color: white;
                font-weight: 600;
            }
        }

        .react-datepicker__current-month {
            color: $primary;
        }
    }
}

.react-datepicker__current-month {
    font-size: 24px !important;
    font-weight: 500;
}

.react-datepicker__navigation-icon--next::before {
    top: 0;
    left: auto;
}

.react-datepicker__navigation-icon--next {
    background-color: white !important;
    left: -7px;
}

.react-datepicker__navigation-icon--previous::before {
    top: 0;
    right: auto;
}

.react-datepicker__navigation-icon--previous {
    right: 2px;
    background-color: white !important;
}

button.react-datepicker__navigation {
    border: 0;
}
#custom_shipping_time {
    margin-bottom: 40px;
}
.btn-time {
    background-color: white !important;
    border-color: #d4d4d4 !important;
    color: #333 !important;
    
    &.active {
        background-color: #30c983 !important;
        color: #fff !important;
    }
}