#zippy-delivery-form , #zippy-takeaway-form, .custom-input {
    input {
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
        background: white;
        padding: 0;
        font-size: 14px;
        text-overflow: ellipsis;
    }
}