#zippy-booking-root {
  #zippy_dashboard {
    .react-datepicker-wrapper {
      width: 350px;
      .react-datepicker__input-container {
        input {
          max-width: 100% !important;
          text-align: center;
        }
      }
    }

    .date-picker {
      position: relative;
      .MuiSvgIcon-root {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        z-index: 1;
      }
      .form-control {
        padding-left: 40px;
      }
    }
  }

  #zippy_settings {
    input[type="email"] {
      padding: 6px;
      padding-left: 20px;

      &:focus {
        box-shadow: none;
      }
    }
    .react-datepicker-wrapper {
      input {
        width: 110px;
      }
    }
    .holiday-date {
      .zippy-date-picker {
        width: 250px;
      }

      .react-datepicker-wrapper {
        input {
          width: 100%;
        }
      }
    }
    .holiday-label {
      input {
        width: 250px;
      }
    }
  }
  input {
    border: 0px !important;
    padding: 6px;
    padding-left: 10px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .date-picker {
    position: relative;
    .MuiSvgIcon-root {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      z-index: 1;
    }
    .form-control {
      padding-left: 40px;
    }
  }
}

#wc-backbone-modal-dialog {
  .wc-backbone-modal-content {
    height: 735px;
    min-height: 65vh;
    width: 65%;
  }
  .custom-modal_table {
    border: none !important;
    .widefat tbody td {
      text-align: center;
    }
    .widefat thead th {
      text-align: center;
      padding: 1rem;
    }
  }
  .search-products {
    label {
      background: #fff;
    }
    input {
      min-height: 56px;
    }
  }
}

#menu-category {
  z-index: 9999999999;
}
