table {
  tbody {
    tr {
      td {
        border-bottom: 1px solid #bfd3fe !important;
      }

      &.has-subrow {
        td {
          border-bottom: 0 !important;
        }
      }
      &.sub-row {
        td {
          border-bottom: 0 !important;
          background-color: #f9f9f9;
        }
        &.sub-row--last {
          td {
            border-bottom: 1px solid #bfd3fe !important;
          }
        }
      }
    }
  }
}
.slot-input {
  max-width: 80px !important;
}
