.custom-input,
#admin_create_order {
  input {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: white;
    padding: 0;
    font-size: 14px;
    text-overflow: ellipsis;
  }
}
.date-box {
  .react-datepicker {
    width: 100%;
    border-radius: 5px;

    .react-datepicker__navigation {
      margin-top: 10px;

      &:hover {
        background: $primary;
      }
    }

    .react-datepicker__month-container {
      width: 100%;

      .react-datepicker__header {
        background: $white;
      }

      .react-datepicker__day-name,
      .react-datepicker__day,
      .react-datepicker__time-name {
        width: calc(100% / 8);
      }

      .react-datepicker__day {
        line-height: 3rem;
      }

      @media (max-width: 728px) {
        .react-datepicker__day {
          line-height: 2rem;
        }
      }

      .react-datepicker__day--selected {
        background-color: $primary;
        font-weight: 600;
      }
    }

    .react-datepicker__day--keyboard-selected {
      background: $primary;
      color: #fff;
      font-weight: 600;

      &:hover {
        background-color: $primary;
        color: white;
        font-weight: 600;
      }
    }

    .react-datepicker__current-month {
      color: $primary;
    }
  }
}

.react-datepicker__current-month {
  font-size: 32px;
  font-weight: 500;
}

.react-datepicker__navigation-icon--next::before {
  top: 11px;
  left: auto;
}

.react-datepicker__navigation-icon--next {
  left: -7px;
}

.react-datepicker__navigation-icon--previous::before {
  top: 11px;
  right: auto;
}

.react-datepicker__navigation-icon--previous {
  right: 2px;
}

button.react-datepicker__navigation {
  border: 0;
}

.order_data_column {
  display: flex;
  flex-direction: column;
}
.price-book-search-product {
  padding: 0px !important;
  border: 0px !important;
}
